#WRITE A PROGRAM TO SWAP TWO VARIABLES .EXAMPLE X=3 Y=5.

In [8]:
x = 3
y = 5
print(x,y)
x, y= y, x
print(x,y)

3 5
5 3

In [9]:
x =3
y =5
print(x,y)
t=x
x=y
y=t
print(x,y)

3 5
5 3

#WRITE A PROGRAM TO CHECK WHEATHER THE NUMBER IS EVEN OR ODD

In [2]:
n=int(input())
if(n%2==0):
    print(" n is even")
else:
    print(" n is odd")

78
 n is even

# write a progran to find the square root of a number

In [4]:
n=int(input())
import math

print(math.sqrt(n))

8
2.8284271247461903

# Write a program to print all the natural numbers from 1 to n(user input) .Then same in reverse

In [8]:
n=int(input())
for i in range(1,n):
    print(i,end=" ")
else:
    print(i+1)
for i in range(n,0,-1):
    print(i ,end=" ")

45
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45
45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

# Write a program which prints volume ofa sphere, given the radius.(use pi=3.14)

In [13]:
r=int(input())
pi=3.14
print((4/3)*(pi)*(r**2))

5
104.66666666666666

# print all odd and even nymbers lie between 1 to 100

In [39]:
print("Even no.",end=" ")
for i in range(101):
    if (i)%2==0:
        print(i,end=" ")
print("Odd no",end=" ")
for i in range (100):
    if (i)%2!=0:
        print(i,end=" ")

Even no. 0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 Odd no 1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [9]:
import math
n=int(input('number'))
print(int(math.sqrt(n)))

number36
6

In [14]:
for i in range(6):
    for j in range(i):
        print(' *',end=" ")
    print()

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [15]:
for i in range(6):
    for j in range(6-i):
        print(' *',end=" ")
    print()

 *  *  *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [8]:
def multipe_7():
    for i in range(2000,3200):
        if i%7==0 and i%5!=0:
            print(i,end=' ')
                  
multipe_7()

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

In [2]:
num = (input("enter a number"))
print(len(num))

enter a number664841
6

In [8]:
#fib series
def fib(n):
    a = 0
    b = 1
    print(a)
    print(b)
     
    for i in range(2,n):
        c = a+b
        a=b
        b=c
        print(c)
    
fib(6)

0
1
1
2
3
5

In [5]:
num= int(input("enter the number"))
num>1
for i in range(2,num):
    if (num%i==0):
        print("not a prime no")
        break
    else:
        print("number is prime number")
        break

enter the number11
number is prime number

In [9]:
#factorial of a given number
def fact(n):
    
    f=1
    
    for i in range(1,n+1):
        f=f*i
        
    return f
x=4

result= fact(x)
    
print(result)

24

In [17]:
n=int(input("enter the number"))
for i in range(n):
   # a=0
    if (i%3==0 or i%5==0):
        a=a+i
print(a)

enter the number17
105

In [23]:
import math
x = float(input("enter value of x"))
y = float(input("enter value of y"))
z = float(input("enter value of z"))
Q = (y**2)-4*x*z
R1 = ((-y+math.sqrt(Q))/(2*x))
R2 = ((-y-math.sqrt(Q))/(2*x))
print("roots pf equation are",R1,R2)

enter value of x4
enter value of y-5
enter value of z-6
roots pf equation are 2.0 -0.75

In [29]:
total_sum=0
for i in range(1000):
    if i%3==0 or i%5==0:
        total_sum = total_sum+i
print (total_sum)

233168

In [46]:
n=4
for i in range(1,n+1):
    print(' '*(n-i),'* '*i)

    *
   * *
  * * *
 * * * *

In [50]:
start = 0
end = int(input())
  
for val in range(start, end + 1): 
      
   # If num is divisible by any number   
   # between 2 and val, it is not prime  
   if val > 1: 
       for n in range(2, val): 
           if (val % n) == 0: 
               break
       else: 
           print(val)

46
2
3
5
7
11
13
17
19
23
29
31
37
41
43

In [51]:
for i in range(1,7):
    for j in range(0,i):
        print(i,' ',end=" ")
    print()

1
2   2
3   3   3
4   4   4   4
5   5   5   5   5
6   6   6   6   6   6

In [54]:
counter=65
for i in range(1,5):
    for j in range(1,i+1):
        print(chr(counter),end=' ')
        counter+=1
    print()

A
B C
D E F
G H I J

In [55]:
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
if(a>b):
    min1=a
else:
    min1=b
while(1):
    if(min1%a==0 and min1%b==0):
        print("LCM is:",min1)
        break
    min1=min1+1

Enter the first number:4
Enter the second number:6
LCM is: 12

In [58]:
x = 1
for i in range(1,6):
    for j in range(i):
        print(x,end=" ")
        x=x+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15